<%- include("partials/header") %>

    <h1>
        <%= title %>
    </h1>
    <% if(isActive) {%>
        <p>El servidor esta activo</p>
        <%}else{%>
            <p>El servidor no esta activo</p>
            <%}%>

                <%- include("partials/footer") %>